#cluster-map {
    width: 100%;
    height: 500px;
}

#map {
    width: 100%;
    height: 300px;
<<<<<<< HEAD
}

.pub-cards {
    padding: 0px;
=======
>>>>>>> d92d0e4b9e8d2c868a688ace4b564a060d633fea
}